.App {
  text-align: center;
}

.form {
  height: 100vh;
}

.spikes {
  position: relative;
  background: #2c3e50;
  height: 15vh;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 140px;
  background-size: 140px 100%;
  background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);
  background-position: 0 0;
}

.triangle {
  position: relative;
  background: #2c3e50;
  height: 20vh;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #fff transparent;
  left: 50%;
  transform: translateX(-50%);
}

.heroBanner {
  min-height: 90vh;
  background-color: black;
  background: url("./assets/blue-bg.jpg") fixed center no-repeat
}

.title {
  font-size: 150px;
  color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-form {
  background: #d1d9c5;
  height: '120vh';
}
